build/
1_introduction_computational.md
src/assets/4_eos2/degeneracy.svg
src/assets/4_eos2/polytrope.svg
docs/src/assets/7_nucleo1/gamow.svg
Manifest.toml

src/assets/4_eos2/degeneracy.svg
src/assets/4_eos2/polytrope.svg
